.songSearcherSection {
    display: flex; 
    margin-bottom: 3.5rem; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    

    .songSearcherContent {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center; 
        max-width: 50rem;

        .songSearchTitle {
            margin-right: 0.875rem;
            font-family: CaviarDreams;
            color: white;
            font-size: 20px;
        }

        .songSearchInput {
            padding-left: 1rem;
            padding-right: 1rem; 
            padding-top: 0.5rem; 
            padding-bottom: 0.75rem; 
            border-radius: 1rem; 
            width: 18rem; 
            height: 3.5rem; 
            font-weight: 400; 
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
            color: 1.2rem;

            &::placeholder {
                font-family: CaviarDreams;
                font-size: 17px;
            }
        }
    }
}