.songContainer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom-width: 1px; 
    font-family: sans-serif;
    color: white;
    font-size: 16px;

    .songContainerHeader {
        display: flex; 
        padding-left: 0.75rem; 
        padding-right: 2.25rem; 
        flex-direction: column; 
        justify-content: center; 
        align-items: flex-start; 

        .songTitle {
            font-weight: bold;
        }
    }

    .viewSongContainer {
        padding-right: 1rem; 
        flex-grow: 0; 
        flex-shrink: 0; 
        cursor: pointer; 

        .viewSongContainerImg {
            cursor: pointer; 
        }
    }
}